$pagination-margin: 5px;

.ckan-registry {
  &__table {
    .griddle-row {
      cursor: pointer;
    }
  }

  &__results {
    &:not(&--loading) .ckan-registry__loading-container {
      display: none;
    }

    &--loading {
      .ckan-registry__table {
        display: none;
      }
    }
  }

  &__pagination {
    &-next {
      margin-left: $pagination-margin;
    }

    &-previous {
      margin-right: $pagination-margin;
    }
  }

  &__other-actions {
    margin-top: 10px;
  }
}
