$pagination-margin: 5px;

.ckan-registry {
  &__table {
    .griddle-row {
      cursor: pointer;
    }
  }

  &__pagination {
    &-next {
      margin-left: $pagination-margin;
    }

    &-previous {
      margin-right: $pagination-margin;
    }
  }
}
