.ckan-result-conditions {
  &__column-left {
    padding-right: $panel-padding-x;
  }

  &__column-right {
    padding-left: 0;
  }

  // Override read-only styling
  .readonly .form__field-holder & {
    background-color: $body-bg;
    border: none;
  }
}
