// Legacy styles for the CMS, e.g GridFields etc
.ckan-columns {
  .form-check-input {
    margin-left: 0;
  }

  // Nested for specificity
  .grid-field__table {
    .form-check-input.editable-column-field {
      margin-top: 0;
    }

    // Reset the width of the position/order column
    .col-action_SetOrderOrder {
      width: 1px;
    }
  }

  // Center the inline editable checkboxes in the columns GridField
  .col-ShowInResultsView,
  .col-ShowInDetailView {
    text-align: center;
  }

  // Used in the GridField display of ResourceFilters (data filters)
  &--multiple,
  &--all-columns {
    color: $gray-700;
    font-style: italic;
  }

  // Used in a composite field in ResourceFilter (data filters)
  &__sources {
    .form-group.checkbox {
      margin-left: 0;
    }
  }

  // Composite fields have no top padding - this matches the label for it
  &__all-columns.field {
    padding-top: $input-padding-y;
  }

  // Initially hide the filter fields/columns sources select. Javascript will show it if needed.
  &__filter-fields.field {
    display: none;
  }
}
